body {
  background: #FFF;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #37434a;
}

p { 
  position: relative;
  margin: 5px auto;
  max-width: 120px;
}
p:focus {background:red}

label {
  font-size: 11px;
  display: block;
  color: #999;
}
label span {
  color: #DDD;
  float: right;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #EEE;
  font-size: 26px;
  outline: none; 
  font-family: "Helvetica Neue", Arial, sans-serif;
}

input:focus {
  border-bottom: 1px solid #419ad4;
  color: #419ad4;
}
input:focus + label { color: #419ad4; }

.fail input:focus {
  border-bottom: 1px solid #d84a36;
  color: #d84a36;
}
.fail input:focus + label { color: #d84a36; }

.checkbox {
  display: none;
  position: absolute;
  right: 0;
  top: 10px;
  width: auto;
}
p:hover .checkbox {display: block}
